body {
  margin: 0;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
  width: 100vw;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.projects-container {
  border-right: 1px solid black;
  grid-column: 1;
  grid-row: 1 / 2;
  background-color: #1F2428;
  color: white;
  padding: 3rem;
}

.projects-container li {
  padding: 0rem 0rem 1.5rem 0rem
}

.projects li:hover {
  background-color: gray;
}

.project {
  display: flex;
  justify-content: space-between;
}

.delete-project {
  width: 2rem;
  height: 2rem;
}

.todos-container {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  padding: 10vh 20vw 10vh 20vw;
  background-color: #24292E;
  color: white;
}

.todo-section {
  padding: 1.1rem;
  margin-bottom: 1.1rem;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
}

#todo-title {
  height: 1rem;
  width: 30rem;
}

#todo-description {
  height: 5rem;
  width: 30rem;
}

.todos li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1.1rem 0 1.1rem 1.1rem;
  border-bottom: 1px solid black;
}

.todos li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.checkbox {
  width: 1.5rem;
  height: 1.5rem;
}

.add-todo {
  margin-top: 1rem;
  margin-left: 1rem;
}

.create-todo-form {
  display: flex;
  flex-direction: column;
}

#todo-title-input {
  width: 30rem;
}

#todo-description-input {
  height: 5rem;
  width: 30rem;
}