@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
  --todos-bg: #E2E2E2;
  --todos-fg: #24292E;
  --todos-divider: grey;
  --projects-bg: #c4c4c4;
  --projects-selected-bg: rgb(146, 146, 146);
  --dashboard-divider: black;
  --buttons-hover-bg: #aaaaaa;
  --todo-border: rgb(133, 133, 133);
  --todo-date-green: green;
  --todo-title-bg: transparent;
  color-scheme: light;
}

:root.light {
  --todos-bg: #E2E2E2;
  --todos-fg: #24292E;
  --todos-divider: grey;
  --projects-bg: #c4c4c4;
  --projects-selected-bg: rgb(146, 146, 146);
  --dashboard-divider: black;
  --buttons-hover-bg: #aaaaaa;
  --todo-border: rgb(133, 133, 133);
  --todo-date-green: green;
  --todo-title-bg: transparent;
  color-scheme: light;
}

:root.dark {
  --todos-bg: #24292E;
  --todos-fg: #E2E2E2;
  --todos-divider: grey;
  --projects-bg: #1F2428;
  --projects-selected-bg: rgb(112, 112, 112);
  --dashboard-divider: black;
  --buttons-hover-bg: #414950;
  --todo-border: rgb(133, 133, 133);
  --todo-date-green: #72ff72;
  --todo-title-bg: transparent;
  color-scheme: dark;
}

#todos-container button, #add-project-button {
  background-color: transparent;
  color: var(--todos-fg);
  border: 1px solid var(--todos-divider);
  cursor: pointer;
  border-radius: 6px;
  padding: 0.5rem;
}

#todos-container button:hover, #add-project-button:hover {
  background-color: var(--buttons-hover-bg);
}

body {
  margin: 0;
  font-family: 'Roboto';

  font-weight: 500;
}

.dashboard {
  display: grid;
  grid-template-columns: minmax(300px, 400px);
  height: 100vh;
  width: 100vw;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.projects-container {
  /* border-right: 1px solid var(--dashboard-divider); */
  grid-column: 1;
  grid-row: 1 / 2;
  background-color: var(--projects-bg);
  color: var(--todos-fg);
  padding: 2rem;
}

.projects-container li {
  padding: 0.5rem;
  margin: 0.5rem 0 0.5rem 0;
}

.projects .project {
  cursor: pointer;
}

.project.selected-project {
  background-color: var(--projects-selected-bg);
  border-radius: 6px;
}

.project-menu {
  display: flex;
  flex-direction: column;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-buttons button {
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid var(--todos-divider);
  padding: 0.5rem;

}

#delete-project:hover {
  background-color: rgb(197, 77, 77);
}

.delete-project {
  width: 2rem;
  height: 2rem;
}

#todos-container {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--todos-bg);
  color: var(--todos-fg);
  flex-shrink: 0;
  padding-top: 10vh;
}

#inner-project-title {
  font-size: 1.3rem;
  font-weight: 800;
}

#todos {
  width: 80%;
  max-width: 800px;
}

li .checkbox {
  background-color: var(--projects-bg);
}

.todo-section {
  padding: 1.1rem;
  margin-bottom: 1.1rem;
  border-bottom: 1px solid var(--todos-divider);
  display: flex;
  flex-direction: column;
}

#todo-title, #todo-description {
  font-family: 'Roboto';
  border: 1px solid var(--todo-border);
  border-radius: 6px;
  padding: 10px;
  width: 400px;
  resize: none;
}

#todo-buttons {
  margin-top: 10px;
}

#todo-buttons button {
  margin-right: 10px;
}

#todo-title {
  font-size: 18px;
  background-color: var(--todo-title-bg);
  color: var(--todos-fg);
  height: 22px;
  overflow: hidden;
}

#todo-buttons #remove-task-button:hover {
  background-color: rgb(197, 77, 77);
}

#todo-description {
  font-size: 14px;
  background-color: var(--todo-title-bg);
  color: var(--todos-fg);
  height: 5rem;
}

#todo-title:focus, #todo-description:focus {
  outline: none;
}

#todos li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1.1rem 0 1.1rem 1.1rem;
  border-bottom: 1px solid var(--todos-divider);
}

#todos li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.checkbox {
  width: 1.5rem;
  height: 1.5rem;
}

.add-todo {
  margin-top: 1rem;
  margin-left: 1rem;
}

.create-todo-form {
  display: flex;
  flex-direction: column;
}

#todo-title-input {
  width: 30rem;
}

#todo-description-input {
  height: 5rem;
  width: 30rem;
}
